[user]
    name = Olivier Dolbeau
    email = contact@odolbeau.fr
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore
[http]
    sslVerify = false
[alias]
    ci   = commit
    di   = diff
    sdi  = diff --staged
    st   = status
    sta  = stash
    br   = branch
    co   = checkout
    cp   = cherry-pick
    cat  = cat-file -p
    lg   = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    authors = shortlog -sn --no-merges
    fetch = fetch -p
    mep = !git lg $(ssh comtools1 cat /space/products/comuto3/prod/SHA1)..origin/master
    brd = !git branch --merged | grep -v master | xargs git branch -d
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
    default = current
