[user]
    name = Olivier Dolbeau
    email = github@a.bbnt.me
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore
[http]
    sslVerify = false
[alias]
    amend = commit --amend --no-edit
    aamend = !git add -A && git amend
    ci   = commit
    di   = diff
    sdi  = diff --staged
    st   = status
    sta  = stash
    br   = branch
    co   = checkout
    cp   = cherry-pick
    cat  = cat-file -p
    lga  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cd)%Creset' --abbrev-commit --date=iso
    l = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
    authors = shortlog -sn --no-merges
    f = fetch --all -p
    brd = !git branch --merged | grep -v master | xargs git branch -d
    wip = !git add -A && git ci -m 'WIP'
    rbup = !git f && git rebase upstream/master
    rsup = !git f && git reset --hard upstream/master
    brf = for-each-ref --sort=-committerdate refs/heads/ refs/remotes --format='%(authordate:short) %(color:red)%(objectname:short) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(color:yellow)%(authorname)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[push]
    default = current
[diff]
    wordRegex = .
[log]
    abbrevCommit = true
