*.swp
*.DS_Store
.DS_Store
tags
tags.vendors
tags.lock
tags.temp
*~
.classpath
.project
.settings
.bash_secret
.bundle
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache

# Folder created when using phpqa docker image
tmp-phpqa/

# By ignoring this file which is almost never used, I can create by own file in
# project which are not mine to add my own tasks.
# @See : https://gist.github.com/odolbeau/d61a35e4767c723de59221234b766828
GNUmakefile
